[submodule "addons/afr_ecm"]
	path = addons/afr_ecm
	url = https://github.com/afonsorcarvalho/afr_ecm.git
[submodule "ecm_desktop"]
	path = ecm_desktop
	url = https://github.com/afonsorcarvalho/ecm_desktop.git
[submodule "addons/afr_stock_reports"]
	path = addons/afr_stock_reports
	url = https://github.com/afonsorcarvalho/afr_stock_reports.git
[submodule "addons/afr_sgq"]
	path = addons/afr_sgq
	url = https://github.com/afonsorcarvalho/afr_sgq.git
[submodule "addons/afr_qualificacao"]
	path = addons/afr_qualificacao
	url = https://github.com/afonsorcarvalho/afr_qualificacao.git
