<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_afr_stock_reports_root"
        name="Relatórios AFR"
        parent="stock.menu_warehouse_report"
        sequence="100"/>

    <menuitem
        id="menu_stock_movement_summary"
        name="Sumário de Movimentações"
        parent="menu_afr_stock_reports_root"
        action="action_stock_movement_summary_wizard"
        sequence="10"/>
</odoo>
